.carousel-container {
  display: flex;
  justify-content: center;
  position: relative;
}

.image-canvas {
  height: 400px;
  width: min(600px, 100%);
  position: relative;
  display: flex;
  background-color: black;
  /* overflow: hidden; */
  /*
  只有当 overflow 是 auto、scroll 或 hidden 这三个值时,浏览器才会把这个元素变成一个真正的滚动容器:

  内容超出盒子范围的部分会被裁切,不会溢出到盒子外面
  元素内部会建立一个可以"滚动"的坐标空间(scrollLeft/scrollTop 才有意义)
  scrollWidth(内容总宽度)会大于 clientWidth(可视宽度)——这个差值就是"能滚动的距离"

  而 overflow: visible(默认值/去掉 overflow 属性后的状态)意味着:内容该多宽就多宽,超出盒子的部分直接显示在盒子外面,不裁切、不建立滚动机制。
  */
  overflow-x: auto;
}

.carousel-button {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
  position: absolute;
  transform: translateY(-50%);
  cursor: pointer;
}

.button-left {
  top: 50%;
  left: 0;
}

.button-right {
  top: 50%;
  right: 0;
}

/*Children of image canvas, and take 100% */
.image {
  width: 100%;
  object-fit: contain;
}

.dots-container {
  position: absolute;
  bottom: 0;
  display: inline-flex;
  gap: 5px;
  transform: translateY(-50%);
}

.dot {
  width: 12px;
  height: 12px;
  border: none;
  border-radius: 50%;
  background-color: #666;
  cursor: pointer;
  display: inline-block;
  flex-shrink: 0;
}
